.update-input {
  align-items: center;
  width: 370px;
  height: auto;
}

.profile-info {
  padding: 10px 10px;
  align-items: center;
}

  .profile {
    margin-top: 12%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 20px;
  }
